<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>RyuMan</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

  <script src='js/phaser.min.js'></script>
  <script src='js/boss.js'></script>
  <script src='js/ryu.js'></script>
  <script src='js/enemy.js'></script>
  <script src='js/game.js'></script>

</body>
</html>