<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>RyuMan</title>
</head>
<body>
<script src='js/phaser.min.js'></script>
<script src='js/ryu.js'></script>
<script src='js/game.js'></script>
</body>
</html>